@media (max-width: 575px) {}

@media (max-width: 767.98px) {
  .section-header p {
    font-size: 28px;
    line-height: 32px;
  }

  .first_box, .second_box, .third_box {
    margin: 0 0 20px 0 !important;
  }

  .login_sec:last-child {
    margin: 0;
  }

  .slider_container {
    margin: 15px 0 20px 0;
  }

  .slider_container .mySwiper .content .icons {
    text-align: center;
    margin: 0 0 0 0;
  }

  .footer .footer-top .footer-info {
    text-align: center;
    margin-bottom: 30px;
  }

  .footer .group_wrapper .flex_group {
    display: block;
    text-align: center;
  }

  .footer .group_wrapper .flex_group span {
    display: none;
  }

  .footer .group_wrapper .flex_group p>span {
    display: block;
  }

  .footer .group_wrapper .flex_group h6 {
    margin: 0 0 20px 0;
  }

  .footer .group_wrapper .flex_group p.desc_group {
    margin: 0 0 20px 0;
  }

  .footer .group_wrapper .flex_group p.desc_group span {
    margin: 0 0 10px 0;
  }

  .footer .group_wrapper .flex_group p.desc_group:last-child {
    margin: 0;
  }

  .footer_bottom {
    height: auto;
    padding: 15px 0px;
  }

  .footer_bottom .right_wrapp .image_box {
    padding: 0 15px 0 15px;
  }

  .footer_bottom .right_wrapp .image_box img {
    width: 38px;
  }

  .footer_bottom .left_wrapp h5 {
    font-size: 14px;
  }

  .footer_bottom .left_wrapp {
    margin: 0 0 15px 0;
  }

  .footer_bottom .left_wrapp h5 span {
    display: none;
  }

  .footer_bottom .left_wrapp .flex_link p:first-child {
    margin: 0;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .first_box, .second_box, .third_box {
    margin: 15px 0 0 0 !important;
  }

  .slider_container {
    margin: 15px 0 30px 0;
  }

  .second_box .video_container {
    margin-bottom: 10px;
  }

  .footer_bottom {
    height: auto;
    padding: 15px 0;
  }

  .footer_bottom .left_wrapp h5 {
    display: flex;
    align-items: center;
    font-size: 14px;
  }

  .footer_bottom .left_wrapp {
    margin: 0 0 15px 0;
  }

  .footer .footer-top .footer-info img {
    margin-bottom: 25px;
    max-width: 149px;
  }

  .footer .footer-top .footer-info:nth-last-of-type(3) img, .footer .footer-top .footer-info:nth-last-of-type(1) img, .footer .footer-top .footer-info:nth-last-of-type(2) img {
    margin-bottom: 0 !important;
  }

  .footer .footer-top {
    padding: 15px 10px;
  }

  .footer .footer-top .footer-info {
    text-align: center;
  }

  .footer .group_wrapper .flex_group h6 {
    font-size: 17px;
    line-height: 21px;
  }

  .footer .group_wrapper .flex_group p.desc_group {
    font-size: 16px;
  }

  .footer .group_wrapper .flex_group span {
    margin: 0px 12px 0 12px;
  }

  .footer .group_wrapper .flex_group p.desc_group span {
    font-size: 17px;
  }

  .footer_bottom .left_wrapp .flex_link p {
    font-size: 13px;
  }

  .footer_bottom .left_wrapp h5 span {
    display: none;
  }

  .footer_bottom .right_wrapp .image_box {
    padding: 0 15px 0 15px;
  }

  .footer_bottom .right_wrapp .image_box img {
    width: 38px;
  }

  .login_sec:last-child {
    margin: 0;
  }















}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}

@media (min-width: 992px) and (max-width: 1024px) {
  .first_box, .second_box, .third_box {
    margin: 0;
  }

  .link_tags a {
    margin: 0 5px 4px 0;
    border-radius: 20px;
    padding: 7px 10px;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
  }

  .login_info {
    padding: 0 10px 15px 10px;
  }

  .sec_header h6 {
    font-size: 16px;
    line-height: 22px;
  }

  .slider_container {
    margin: 15px 0 21px 0;
  }



  .main_row .col-lg-6 {
    padding: 0 0;
  }

  .footer_bottom {
    height: auto;
    padding: 12px 0;
  }

  .footer_bottom .col-lg-8, .footer_bottom .col-lg-4 {
    width: 100% !important;
    margin: 10px 0 5px 0;
  }

  .footer_bottom .right_wrapp .image_box {
    padding: 0 25px 0 25px;
  }

  .footer_bottom .right_wrapp .image_box img {
    width: 43px;
  }

  .footer_bottom .right_wrapp .image_box:last-child {
    border-right: none;
    padding: 0 0 0 25px;
  }

  .footer_bottom .left_wrapp {
    display: flex;
    align-items: center;
    justify-content: center;
  }


}

@media (min-width: 1025px) and (max-width: 1199.98px) {
  .first_box, .second_box, .third_box {
    margin: 0;
  }

  .link_tags a {
    margin: 0 5px 4px 0;
    border-radius: 20px;
    padding: 7px 10px;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
  }

  .login_info {
    padding: 0 10px 15px 10px;
  }

  .sec_header h6 {
    font-size: 16px;
    line-height: 22px;
  }

  .slider_container {
    margin: 15px 0 21px 0;
  }

  .footer_bottom {
    height: auto;
    padding: 12px 0;
  }

  .footer_bottom .col-lg-8, .footer_bottom .col-lg-4 {
    width: 100% !important;
    margin: 10px 0 5px 0;
  }

  .footer_bottom .right_wrapp .image_box {
    padding: 0 25px 0 25px;
  }

  .footer_bottom .right_wrapp .image_box img {
    width: 43px;
  }

  .footer_bottom .right_wrapp .image_box:last-child {
    border-right: none;
    padding: 0 0 0 25px;
  }


}

@media (min-width: 1200px) and (max-width: 1299px) {
  .first_box, .second_box, .third_box {
    margin: 0;
  }
}

@media (max-width: 1200px) {
  .first_box, .second_box, .third_box {
    margin: 0;
  }

  .bottom_part .icon_play {
    top: 30px;
  }


}



@media (max-width: 1400px) {}