@media screen and (min-width: 1400px) {
  .Emp_Tbl_sec .table-responsive {
    overflow-x: auto;
  }
}

@media screen and (max-width:1366px) {
  .login_info {
    padding: 0 15px 15px 15px;
  }

  .Emp_Tbl_sec .table-responsive {
    overflow-x: auto;
    display: block;
  }

  .Emp_Tbl_sec .table th:first-child {
    padding: 14px 18px;
  }

  .av_page .video_container {
    margin-bottom: 0;
  }

  .sec_header h6,
  .sec_header a {
    font-size: 18px;
  }

  .sec_header h6 i {
    font-size: 19px;
  }

  .second_box .listing_doc_sec .doc_list_row .doc_box {
    width: 101px;
  }

  .second_box .listing_doc_sec .doc_list_row {
    column-gap: 10px;
  }

  .second_box .listing_doc_sec {
    margin: 10px 10px 6px 10px;
  }

  .second_box .video_container {
    margin-bottom: 10px;
    padding: 0;
  }

  .slider_container {
    margin: 15px 0 25px 0;
  }

  .Emp_Tbl_sec .table td {
    padding: 10px 15px;
  }

  .bottom_part .icon_play {
    top: 30px;
  }

  .sec_header {
    padding: 11px 15px;
  }

  .policy_sec .content ul li {
    margin: 0 0 10px 0;
  }

  .policy_sec .inner_header {
    padding: 9px 20px;
  }

  .policy_sec .inner_header h6 {
    font-size: 17px;
  }

  .policy_sec .content {
    padding: 12px 15px 12px 42px;
  }

  .footer_bottom .left_wrapp .flex_link p {
    margin: 0 0 0 12px;
  }

  .footer_bottom .right_wrapp .image_box {
    padding: 0 10px 0 10px;
  }

  .footer_bottom .right_wrapp .image_box img {
    width: 35px;
    margin: 0 8px 0 0;
  }
}

@media screen and (max-width: 1199px) {

  .first_box,
  .second_box,
  .third_box {
    margin: 0;
  }

  .Emp_Tbl_sec .table-responsive {
    overflow-x: auto;
    display: block;
  }

  .Emp_Tbl_sec .table td {
    padding: 10px 15px;
  }

  .bottom_part .icon_play {
    top: 30px;
  }

  .sec_header {
    padding: 11px 15px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1299px) {

  .first_box,
  .second_box,
  .third_box {
    margin: 0;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1199.98px) {

  .first_box,
  .second_box,
  .third_box {
    margin: 0;
  }

  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 35px;
  }

  .second_box .video_container {
    width: 100%;
    margin-bottom: 10px;
    padding: 0;
  }

  .second_box .icon_play i {
    font-size: 40px;
  }

  .col_first_box,
  .col_second_box,
  .col_third_box {
    padding: 0 5px;
  }

  .Listing_section .job_list_wrapper {
    padding: 11px 11px 11px 11px;
  }

  .link_tags {
    padding: 8px 8px 5px 8px;
  }

  .slider_container .mySwiper .content p {
    font-size: 14px;
    line-height: 21px;
    margin: 0 auto 5px auto;
  }

  .section_main {
    padding: 12px 0;
  }

  /* .first_box h2 {
   font-size: 17px;
 } */
  .second_box {
    padding: 0 0 14px 0;
  }

  .bottom_part {
    margin: 10px 10px 0 10px;
  }

  .login_sec {
    margin: 0 0 13px 0;
  }

  .link_tags a {
    margin: 0 5px 4px 0;
    border-radius: 20px;
    padding: 7px 10px;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
  }

  .login_info {
    padding: 0 10px 15px 10px;
  }

  .sec_header h6,
  .sec_header a {
    font-size: 16px;
    line-height: 22px;
  }

  .sec_header h6 i {
    font-size: 18px;
  }

  .slider_container {
    margin: 15px 0 21px 0;
  }

  .listing_section .job_list {
    margin: 12px 0 0 0;
  }

  .listing_section .job_list .jobbox {
    padding: 8px 8px;
    margin-bottom: 15px;
  }

  .listing_section .job_list .jobbox .col_icon .suitcase_icons {
    width: 41px;
    height: 41px;
    border-radius: 50px;
    padding: 9px;
  }

  .listing_section .job_list .jobbox .col_icon .suitcase_icons img {
    width: 20px;
  }

  .listing_section .job_list .jobbox .col_detail,
  .outlook_page .listing_section .job_list .jobbox .col_detail {
    margin: 0 3px 0 8px;
  }

  .listing_section .job_list .jobbox .col_detail h6 {
    font-size: 13px;
    line-height: 18px;
  }

  .pos_date {
    right: 8px;
    bottom: 3px;
  }

  .pos_date p {
    font-size: 11px;
  }

  .logos_list_wrapper .main_box .logo_whiteBox {
    padding: 5px 20px;
    margin-bottom: 10px;
    height: 185px;
  }

  .logos_list_wrapper {
    padding: 10px 8px 10px 8px;
  }

  .logos_list_wrapper .main_box .long_whitebox {
    height: 120px !important;
  }

  .logos_list_wrapper .main_box {
    padding: 8px 0;
  }

  .logos_list_wrapper .main_box .bottom_buttons p {
    font-size: 11px;
  }

  .logos_list_wrapper .main_box .logo_whiteBox .ImageBox img {
    width: 100%;
    object-fit: cover;
  }

  .logos_list_wrapper .main_box .bottom_buttons .btn_pdf,
  .logos_list_wrapper .bottom_buttons .btn_cdr {
    font-size: 12px;
    line-height: 18px;
    text-transform: capitalize;
    color: #FFFFFF;
    max-width: 80px;
    display: block;
    padding: 5px 15px;
    margin: 0 3px 0 3px;
  }

  .brand_sec h2,
  .brand_content h3 {
    padding: 0 12px 15px 12px;
  }

  .brand_content h3 {
    padding: 10px 12px 0 12px;
  }

  .brand_content ul {
    padding: 8px 7px 0 8px !important;
  }

  .brand_content ul li {
    margin: 0 0 7px 0;
  }

  .brand_content ul li a {
    font-size: 13px;
    line-height: 19px;
  }

  .convert_sec .tab_sec .custom_tabs {
    padding: 13px 18px 1px 18px;
  }

  .convert_sec .tab_sec .custom_tabs ul.tabs {
    width: 100%;
    justify-content: center;
  }

  .convert_sec .tab_sec .custom_tabs ul.tabs li {
    padding: 10px 16px;
    font-size: 13px;
    margin: 0 15px 0 0;
  }

  .convert_sec .tab_content .tab_content_heading .flex-tab h6 {
    font-size: 17px;
    line-height: 18px;
  }

  .convert_sec .tab_content .tab_content_heading .flex-tab p {
    font-size: 15px;
  }

  .second_box .listing_doc_sec .doc_list_row .doc_box {
    width: 116px;
  }

  .archive_page .section_main .searchBox {
    margin: 6px 9px 6px 9px;
  }

  .archive_page .searchBox .flex_search .btn-outline-secondary {
    margin: 0 0 0 4px;
  }

  .policy_sec {
    padding: 10px 20px 7px 20px;
  }

  .policy_sec .policy_box {
    margin: 0 0 16px 0;
  }

  .policy_sec .inner_header {
    padding: 10px 18px;
  }

  .policy_sec .inner_header h6 {
    font-size: 17px;
    line-height: 24px;
  }

  .policy_sec .content {
    padding: 10px 10px 10px 44px;
  }

  .policy_sec .content ul li a {
    font-size: 15px;
    line-height: 20px;
    text-transform: inherit;
  }

  .policy_sec .content ul li {
    margin: 0 0 10px 0;
  }

  .footer_bottom {
    height: auto;
    padding: 12px 0 0 0;
    margin: 20px 0 0 0;
  }

  .footer_bottom .col-lg-8,
  .footer_bottom .col-lg-4 {
    width: 100% !important;
    margin: 0px 0 10px 0;
  }

  .footer_bottom .right_wrapp .image_box {
    padding: 0 25px 0 25px;
  }

  .footer_bottom .right_wrapp .image_box img {
    width: 38px;
  }

  .footer_bottom .right_wrapp .image_box:last-child {
    border-right: none;
    padding: 0 0 0 25px;
  }

  .footer_bottom .left_wrapp {
    justify-content: center;
  }
}

@media screen and (min-width: 992px) and (max-width: 1024px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 35px;
  }

  .first_box,
  .second_box,
  .third_box {
    margin: 0;
  }

  .link_tags a {
    margin: 0 5px 4px 0;
    border-radius: 20px;
    padding: 7px 10px;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
  }

  .login_info {
    padding: 0 10px 15px 10px;
  }

  .sec_header h6 {
    font-size: 16px;
    line-height: 22px;
  }

  .main_row .col_first_box,
  .main_row .col_second_box {
    padding: 0 7px;
  }

  .slider_container {
    margin: 15px 0 21px 0;
  }

  .listing_section .job_list {
    margin: 12px 0 0 0;
  }

  .listing_section .job_list .jobbox {
    padding: 8px 8px;
    margin-bottom: 15px;
  }

  .listing_section .job_list .jobbox .col_icon .suitcase_icons {
    width: 41px;
    height: 41px;
    border-radius: 50px;
    padding: 9px;
  }

  .listing_section .job_list .jobbox .col_icon .suitcase_icons img {
    width: 20px;
  }

  .listing_section .job_list .jobbox .col_detail,
  .outlook_page .listing_section .job_list .jobbox .col_detail {
    margin: 0 3px 0 8px;
  }

  .listing_section .job_list .jobbox .col_detail h6 {
    font-size: 13px;
    line-height: 18px;
  }

  .pos_date {
    right: 8px;
    bottom: 3px;
  }

  .pos_date p {
    font-size: 11px;
  }

  .main_row .col-lg-6 {
    padding: 0 8px;
  }

  .brand_sec h2,
  .brand_content h3 {
    padding: 0 12px 15px 12px;
  }

  .brand_content h3 {
    padding: 10px 12px 0 12px;
  }

  .brand_content ul {
    padding: 8px 7px 0 8px;
  }

  .brand_content ul li {
    margin: 0 0 7px 0;
  }

  .brand_content ul li a {
    font-size: 13px;
    line-height: 19px;
  }

  .convert_sec .tab_sec .custom_tabs {
    padding: 13px 18px 1px 18px;
  }

  .convert_sec .tab_sec .custom_tabs ul.tabs {
    width: 100%;
    justify-content: center;
  }

  .convert_sec .tab_sec .custom_tabs ul.tabs li {
    padding: 10px 16px;
    font-size: 13px;
    margin: 0 15px 0 0;
  }

  .convert_sec .tab_content .tab_content_heading .flex-tab h6 {
    font-size: 17px;
    line-height: 18px;
  }

  .convert_sec .tab_content .tab_content_heading .flex-tab p {
    font-size: 15px;
  }

  .second_box .listing_doc_sec .doc_list_row .doc_box {
    width: 116px;
  }

  .logos_list_wrapper .main_box .logo_whiteBox {
    padding: 0 20px;
    height: 215px;
    margin-bottom: 15px;
  }

  .logos_list_wrapper .main_box .long_whitebox {
    height: 130px;
  }

  .logos_list_wrapper .main_box .bottom_buttons .btn_pdf,
  .logos_list_wrapper .bottom_buttons .btn_cdr {
    font-size: 13px;
    line-height: 18px;
    max-width: 100px;
    display: block;
    padding: 5px 15px;
    margin: 0 5px 0 0;
  }

  .logos_list_wrapper .main_box {
    padding: 5px 0 15px 0;
  }

  .footer_bottom {
    height: auto;
    padding: 12px 0;
  }

  .footer_bottom .col-lg-8,
  .footer_bottom .col-lg-4 {
    width: 100% !important;
    margin: 10px 0 5px 0;
  }

  .footer_bottom .right_wrapp .image_box {
    padding: 0 25px 0 25px;
  }

  .footer_bottom .right_wrapp .image_box img {
    width: 43px;
  }

  .footer_bottom .right_wrapp .image_box:last-child {
    border-right: none;
    padding: 0 0 0 25px;
  }

  .footer_bottom .left_wrapp {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (min-width: 992px) {
  .humb_menu {
    display: none;
  }
}

@media screen and (max-width: 991.98px) {
  .main_nav {
    z-index: 999;
    position: fixed;
    top: 58px;
    width: 100%;
  }

  .section_main {
    padding: 70px 0 10px 0;
  }

  .right_logo {
    display: none;
  }

  .main_nav .navbar {
    padding: 0;
  }

  .top_header {
    position: fixed;
    top: 0;
    width: 100%;
  }

  .sec_header {
    padding: 8px 15px;
  }

  .sec_header h6,
  .sec_header a {
    font-size: 15px;
  }

  .sec_header h6 i {
    font-size: 16px;
  }

  .login_info {
    padding: 0 12px 12px 12px;
  }

  .main_nav .navbar-toggler {
    display: none;
  }

  .col_first_box {
    display: none;
  }

  .col_second_box {
    width: 100%;
    order: 2;
  }

  .col_third_box {
    order: 1;
  }

  .second_box .video_container {
    padding: 0;
    margin-bottom: 15px;
  }

  .second_box .video_container .center_video_image img {
    width: 100%;
  }

  .bg_area {
    margin: 0 0 12px 0;
  }

  .login_sec {
    margin: 0 0 15px 0;
  }

  .outlook_page .listing_section .job_list .col-lg-6:last-child .jobbox {
    margin-bottom: 0;
  }

  .line_text h6:before,
  .line_text h6:after {
    width: 45%;
  }

  .logos_list_wrapper .main_box {
    padding: 8px 0;
  }

  .logos_list_wrapper .main_box .logo_whiteBox {
    padding: 0 12px;
    margin-bottom: 10px;
    height: 165px;
  }

  .logos_list_wrapper .main_box .long_whitebox {
    height: 125px !important;
  }

  .logos_list_wrapper .main_box .bottom_buttons .btn_pdf,
  .logos_list_wrapper .bottom_buttons .btn_cdr {
    font-size: 12px;
    max-width: 77px;
    padding: 4px 13px;
    margin: 0 3px 0 3px;
  }

  .logos_list_wrapper {
    padding: 10px 13px 10px 13px;
  }

  .letter_head_page .second_box:last-child {
    margin-bottom: 0;
    padding: 0;
  }

  .archive_page .search_slider .swiper-button-next,
  .archive_page .search_slider .swiper-button-prev {
    width: 50px;
    height: 50px;
  }

  /* ********** */
  .letter_head_page .logos_list_wrapper .logo_row .col-lg-6 {
    padding: 0 10px;
  }

  .visiting_card_page .logos_list_wrapper,
  .letter_head_page .logos_list_wrapper {
    padding: 7px 8px 7px 10px;
  }

  .Id_card_page .logos_list_wrapper .main_box .logo_whiteBox {
    padding: 8px 0;
  }

  .Id_card_page .logos_list_wrapper .main_box .logo_whiteBox {
    margin-bottom: 17px;
  }

  .Id_card_page .logos_list_wrapper {
    padding: 10px 13px 0 13px;
  }

  .convert_sec .tab_sec .custom_tabs {
    padding: 13px 18px 1px 18px;
  }

  .convert_sec .tab_sec .custom_tabs ul.tabs {
    width: 100%;
    justify-content: center;
  }

  .convert_sec .tab_sec .custom_tabs ul.tabs li {
    padding: 10px 13px;
    font-size: 13px;
    margin: 0 0 0 0;
  }

  .convert_sec .tab_content .tab_content_heading .flex-tab h6 {
    font-size: 17px;
    line-height: 18px;
  }

  .convert_sec .tab_content .tab_content_heading .flex-tab p {
    font-size: 13px;
  }

  .convert_sec .form_box .font_row .inputBox_col .lbl_inputbox {
    font-size: 15px;
    margin-bottom: 8px;
  }

  .convert_sec .tab_content .tab_content_heading .flex-tab p span {
    font-size: 13px;
  }

  .convert_sec .form_box {
    margin: 8px 0 5px 0;
  }

  .rate_card_sec {
    padding: 5px 0 5px 0;
  }

  /* **********/
  .policy_sec {
    padding: 10px 20px 0 20px;
  }

  .policy_sec .policy_box {
    margin: 0 0 16px 0;
  }

  .policy_sec .inner_header {
    padding: 8px 14px;
  }

  .policy_sec .inner_header h6 {
    font-size: 14px;
    line-height: 23px;
  }

  .policy_sec .content {
    padding: 5px 10px 6px 36px;
  }

  .policy_sec .content ul li a {
    font-size: 13px;
    line-height: 16px;
    text-transform: inherit;
  }

  .policy_sec .content ul li {
    margin: 0 0 3px 0;
  }

  .remark_sec .login_review .form_remarking {
    margin: 13px 4px;
  }

  .remark_sec .login_review .form_remarking .form_remark_row .inputBox_col:last-child {
    margin-bottom: 15px !important;
  }

  .second_box .listing_doc_sec .doc_list_row .doc_box {
    width: 124px;
  }

  /* ********** */
  .footer {
    margin: 0 0 0 0;
  }

  .footer_bottom {
    margin: 15px 0 0 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 991.98px) {

  /* .first_box, .second_box, .third_box {
   margin: 15px 0 0 0 !important;
 } */
  .slider_container {
    margin: 15px 0 30px 0;
  }

  .second_box .video_container {
    margin-bottom: 10px;
  }

  .footer_bottom {
    height: auto;
    padding: 15px 0;
  }

  .footer_bottom .left_wrapp h5 {
    display: flex;
    align-items: center;
    font-size: 14px;
  }

  .footer_bottom .left_wrapp {
    margin: 0 0 15px 0;
  }

  .footer .footer-top .footer-info img {
    margin-bottom: 18px;
    max-width: 138px;
  }

  .footer .footer-top .footer-info:nth-last-of-type(3) img,
  .footer .footer-top .footer-info:nth-last-of-type(1) img,
  .footer .footer-top .footer-info:nth-last-of-type(2) img {
    margin-bottom: 0 !important;
  }

  .footer .footer-top {
    padding: 15px 0;
  }

  .footer .footer-top .footer-info {
    text-align: center;
  }

  .footer .group_wrapper .flex_group h6 {
    font-size: 17px;
    line-height: 21px;
  }

  .footer .group_wrapper .flex_group p.desc_group {
    font-size: 16px;
  }

  .footer .group_wrapper .flex_group span {
    margin: 0px 12px 0 12px;
  }

  .footer .group_wrapper .flex_group p.desc_group span {
    font-size: 17px;
  }

  .footer_bottom .left_wrapp .flex_link p {
    font-size: 12px;
    margin: 0 0 0 10px;
  }

  .footer_bottom .left_wrapp .flex_link p span {
    font-size: 12px;
  }

  .footer_bottom .left_wrapp h5 span {
    display: none;
  }

  .footer_bottom .right_wrapp .image_box {
    padding: 0 15px 0 15px;
  }

  .footer_bottom .right_wrapp .image_box img {
    width: 38px;
  }
}

@media screen and (max-width: 767.98px) {
  .section-header p {
    font-size: 28px;
    line-height: 32px;
  }

  .sec_header {
    padding: 9px 15px;
  }

  .sec_header h6,
  .sec_header a {
    font-size: 15px;
  }

  .sec_header h6 i {
    font-size: 17px;
    margin: 0 8px 0 0;
  }

  .top_header .center_title {
    font-size: 13px;
    line-height: 22px;
    letter-spacing: 0.3em;
  }

  .login_sec {
    margin: 0 0 15px 0;
  }

  .second_box {
    padding: 0 0 10px 0;
  }

  .Listing_section .job_list_wrapper {
    padding: 14px 10px 7px 10px;
  }

  .listing_section .job_list .jobbox .col_detail {
    margin: 0 0 0 10px;
  }

  .outlook_page .listing_section .job_list .jobbox .col_detail {
    margin: 0 10px 0 10px;
  }

  .listing_section .job_list .jobbox .col_detail h6 {
    font-size: 15px;
    line-height: 18px;
  }

  .pos_date {
    right: 6px;
    bottom: 6px;
  }

  /* .first_box, .second_box, .third_box {
   margin: 0 0 20px 0 !important;
 } */
  /* .login_sec:last-child {
   margin: 0;
 } */
  .convert_sec .tab_sec .custom_tabs {
    padding: 13px 18px 1px 18px;
  }

  .convert_sec .tab_sec .custom_tabs ul.tabs {
    width: 100%;
    display: block;
    text-align: center;
  }

  .convert_sec .tab_sec .custom_tabs ul.tabs li.active {
    margin: 0;
  }

  .convert_sec .tab_content .tab_content_heading .flex-tab {
    display: block;
    text-align: left;
  }

  .second_box .listing_doc_sec .doc_list_row .doc_box {
    width: 140px;
  }

  .divider_second:before {
    display: none;
  }

  .convert_sec .tab_content .tab_content_heading .flex-tab h6 {
    font-size: 17px;
    line-height: 18px;
    margin: 0 0 6px 0;
  }

  .convert_sec .tab_content .tab_content_heading .flex-tab p {
    font-size: 15px;
  }

  .convert_sec .form_box .font_row .inputBox_col .lbl_inputbox {
    font-size: 13px;
    margin-bottom: 5px;
  }

  .convert_sec .form_box .font_row .inputBox_col .form-control {
    height: 110px;
    resize: auto;
    padding: 7px 12px;
  }

  .listing_section .job_list {
    margin: 9px 13px 0 13px;
  }

  .listing_section .job_list .col-lg-6 {
    padding: 0 0;
  }

  .listing_section .job_list .jobbox {
    padding: 10px 10px;
    margin-bottom: 13px;
  }

  .listing_section .job_list .jobbox .col_icon .suitcase_icons {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    padding: 9px;
  }

  #big_video .modal-dialog .modal-content,
  #video_MD .modal-dialog .modal-content,
  #StartModal .modal-dialog .modal-content,
  #video_MD .modal-dialog .modal-content {
    width: 90%;
    margin: 0 auto;
  }

  #big_video .modal-dialog .modal-content .btn-close,
  #video_MD .modal-dialog .modal-content .btn-close,
  #StartModal .modal-dialog .modal-content .btn-close {
    top: -27px;
    right: -19px;
    font-size: 20px;
  }

  #StartModal .modal-dialog .modal-content .btn-close .slider_container {
    margin: 15px 0 20px 0;
  }

  .slider_container .mySwiper .content .icons {
    text-align: center;
    margin: 0 0 0 0;
  }

  .job_detail_wrapper {
    padding: 10px 0;
  }

  .job_detail_wrapper .top_title {
    margin: 0;
  }

  .job_detail_wrapper .top_title h6 {
    margin: 0 0 12px 15px;
    font-size: 14px;
    line-height: 19px;
  }

  .job_insights .insight_row .col-lg-4 {
    padding: 0;
  }

  .job_insights {
    margin: 12px;
  }

  .job_insights .insight_row {
    padding: 0;
    margin: 0;
  }

  .flex_sight {
    margin: 0 0 17px 0;
  }

  .Key_content {
    margin: 12px 18px 12px 18px;
  }

  .Key_content .content_list ul {
    margin: 0;
  }

  .Key_content h6 {
    font-size: 17px;
    line-height: 21px;
  }

  .Key_content .content_list ul li {
    font-size: 14px;
    line-height: 20px;
    margin: 0 5px 5px 0;
  }

  .Key_content .content_list ul li i {
    margin: 0 5px 0 0;
  }

  .apps_steps {
    margin: 6px 15px 6px 15px;
  }

  .apps_steps h6 {
    font-size: 16px;
    margin-bottom: 14px;
  }

  .apps_steps .step_sec {
    margin: 0 0 18px 0;
  }

  .apps_steps .step_sec h6 {
    font-size: 15px;
    line-height: 21px;
    margin: 7px 15px 7px 15px;
  }

  .apps_steps .step_sec .steps_content ul {
    padding: 0;
    margin: 0;
  }

  .apps_steps .step_sec .steps_content {
    padding: 10px 12px;
  }

  .apps_steps .step_sec .steps_content ul li {
    font-size: 14px;
    line-height: 20px;
    margin: 0 5px 5px 0;
  }

  .apps_steps .step_sec .steps_content ul li i {
    margin: 0 5px 0 0;
  }

  .search_sec {
    padding: 15px;
  }

  .envelop_page .logos_list_wrapper .main_box .logo_whiteBox {
    padding: 15px 15px;
    height: 365px;
  }

  .link_tags a {
    margin: 0 5px 5px 0;
    padding: 5px 8px;
    font-size: 12px;
    line-height: 18px;
  }

  .btn_primary {
    font-size: 14px;
  }

  .button_search {
    margin: 8px 0 0 0;
  }

  .search_form .search_form_row .form_btns .btn_primary,
  .search_form .search_form_row .form_btns .btn_danger {
    margin: 0 5px 0 5px;
    max-width: 100%;
  }

  .envelop_page .logos_list_wrapper,
  .letter_head_page .logos_list_wrapper {
    padding: 5px 10px
  }

  .letter_head_page .logos_list_wrapper .main_box .logo_whiteBox {
    padding: 10px 10px;
    height: auto;
  }

  /* ****************** */
  .footer .footer-top .footer-info {
    text-align: center;
    margin-bottom: 15px;
  }

  .footer .footer-top .footer-info:nth-last-of-type(2),
  .footer .footer-top .footer-info:nth-last-of-type(1) {
    margin: 0;
  }

  .footer .footer-top .footer-info img {
    margin-bottom: 0;
    max-width: 155px;
  }

  .footer_bottom .left_wrapp .flex_link p {
    margin: 0 0 5px 0 !important;
    width: 150px;
  }

  .footer .group_wrapper .flex_group {
    display: block;
    text-align: center;
  }

  .footer .group_wrapper .flex_group span {
    display: none;
  }

  .footer .group_wrapper .flex_group p>span {
    display: block;
  }

  .footer .group_wrapper .flex_group h6 {
    margin: 0 0 10px 0;
    font-size: 18px;
  }

  .footer .group_wrapper .flex_group p.desc_group {
    margin: 0 15px 0 15px;
    font-size: 16px;
  }

  .footer .group_wrapper .flex_group p.desc_group span {
    margin: 0 0 2px 0;
    font-size: 17px;
  }

  .footer .footer-top {
    padding: 12px 0 12px 0;
  }

  .footer_bottom {
    height: auto;
    padding: 10px 0px 10px 0px;
  }

  .footer_bottom .right_wrapp .image_box {
    padding: 0 15px 0 15px;
  }

  .footer_bottom .right_wrapp .image_box img {
    width: 38px;
  }

  .footer_bottom .left_wrapp h5 {
    font-size: 14px;
    margin: 0px 0 10px 0;
  }

  .footer_bottom .left_wrapp {
    margin: 0 0 5px 0;
    display: block;
  }

  .footer_bottom .left_wrapp .flex_link {
    display: flex;
    max-width: 100%;
    flex-wrap: wrap;
  }

  .footer_bottom .left_wrapp h5 span {
    display: none;
  }

  .footer_bottom .left_wrapp .flex_link p:first-child {
    margin: 0;
  }

  .footer .group_wrapper {
    margin: 10px 0 0 0;
    padding: 10px 0 0 0;
  }
}

@media screen and (max-width:480px) {
  .logos_list_wrapper .main_box .logo_whiteBox {
    height: 160px;
  }

  .logos_list_wrapper .main_box .long_whitebox {
    height: 100px !important;
  }

  .logos_list_wrapper .main_box .bottom_buttons p {
    display: none;
  }

  .visiting_card_page .logos_list_wrapper .main_box .bottom_buttons p,
  .envelop_page .logos_list_wrapper .main_box .bottom_buttons p {
    display: block;
  }

  .footer_bottom .right_wrapp .image_box img {
    width: 30px;
    margin: 0 6px 0 0;
  }

  .footer_bottom .right_wrapp .image_box p {
    font-size: 13px;
    line-height: 17px;
  }

  .footer_bottom .right_wrapp .image_box {
    padding: 0 10px 0 10px;
  }

  .second_box .listing_doc_sec .doc_list_row .doc_box {
    width: 125px;
    margin: 0 0 10px 0;
  }

  .second_box .listing_doc_sec .doc_list_row {
    margin: 0 5px;
    column-gap: 11px;
  }

  .second_box .listing_doc_sec {
    margin: 15px 15px 0 15px;
  }
}

@media screen and (max-width:375.98px) {
  .logos_list_wrapper .main_box .logo_whiteBox {
    height: 133px;
  }

  .logos_list_wrapper .main_box .long_whitebox {
    height: 100px !important;
  }

  .second_box .listing_doc_sec .doc_list_row .doc_box {
    width: 140px;
  }

  .footer .footer-top .footer-info img {
    max-width: 122px;
  }

  .top_header .center_title {
    font-size: 10px;
    line-height: 0;
    letter-spacing: 0.3em;
  }

  .footer .group_wrapper .flex_group h6 {
    margin: 0 0 10px 0;
    font-size: 16px;
  }
}