:root {
  scroll-behavior: smooth;
  --primary: #FF9F00;
  --black: #000000;
  --white: #ffffff;
  --red: #BC2A2A;
  --bg_box_header: #8F8F8F;
  --border_color: #CDCDCD;
  --text_gray: rgba(85, 85, 85, 0.71);
  --bg_blue: #EADFDF;
  --navy_blue: #3C486B;

}

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/

body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
  background-color: #EDEDED;
}

a {
  color: #000000;
  text-decoration: none;
}

a:hover {
  color: #FF9F00;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", sans-serif;
}

/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-header {
  text-align: center;
  padding-bottom: 40px;
}

.section-header h2 {
  font-size: 13px;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 0;
  color: #4154f1;
  text-transform: uppercase;
}

.section-header p {
  margin: 10px 0 0 0;
  padding: 0;
  font-size: 38px;
  line-height: 42px;
  font-weight: 700;
  color: #012970;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 99999;
  background: var(--primary);
  width: 40px;
  height: 40px;
  border-radius: 50px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 24px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: var(--bg_box_header);
  color: #fff;
}

.back-to-top.show {
  visibility: visible;
  opacity: 1;
}


/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

.top_header {
  height: 60px;
  background-color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .container {
  max-width: 1330px;
} */

.top_header .center_title {
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.3em;
  color: black;
}


.header {
  transition: all 1.0s;
  z-index: 997;
  background-color: var(--red);
  height: 44px;
}

.header.header-scrolled {
  box-shadow: 0px 2px 20px rgba(1, 41, 112, 0.1);
  position: sticky;
  width: 100%;
  top: 0;
}

.header .logo {
  line-height: 0;
}

.header .logo img {
  max-height: 40px;
  margin-right: 6px;
}

.main_nav {
  background-color: var(--red);
  transition: all 0.5s;
  z-index: 999;
}

.navbar {
  margin: 0;
}

.nav-link {
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: var(--white);
  font-family: 'Open Sans', sans-serif;
}

.navbar li {
  position: relative;

}

/* .navbar .dropdown-menu li.dropdown-item{
  border-bottom: 1px solid #EBEBEB;
}  */

.navbar-expand-lg .navbar-nav .dropdown-item {
  border-bottom: 1px solid #EBEBEB;
}

.navbar a:hover {
  color: white !important;
}

.navbar-expand-lg .navbar-nav .nav-link {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: white;
  padding-right: 35px;
}

.navbar-expand-lg .navbar-nav .nav-item .nav-link:first-of-type {
  padding-left: 0 !important;
}

.navbar-expand-lg .navbar-nav .dropdown-menu {
  background: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: 0.3s;
  border-radius: 3px;
  color: var(--black);
  top: 42px !important;
  padding: 0 0;
  border: 0;
}



.navbar-expand-lg .navbar-nav .dropdown-item {
  padding: 10px 10px;
  font-size: 14px;
  text-transform: none;
  font-weight: 600;
  color: #8B8B8B;
}

.dropdown-item i {
  color: red;
  font-size: 18px;
}

.navbar-expand-lg .navbar-nav .dropdown-item:hover {
  background-color: var(--primary) !important;
}

.navbar-expand-lg .navbar-nav .dropdown-item:hover i {
  color: var(--white);
}

.navbar-nav:not(.sm-collapsible) .dropdown-item .sub-arrow, .navbar-nav:not(.sm-collapsible):not([data-sm-skip]) .dropdown-menu .dropdown-toggle::after {
  border-left: 0.3em solid #BC2A2A;
}

/* ********************************* */

#StartModal .modal-content .btn-close {
  margin: 0;
}

.modal_image {
  margin: 0;
}

.modal_image img {
  margin: 0;
  width: 100%;
}

#StartModal .modal-content .btn-close {
  background: none;
  opacity: 1;
  color: white;
  position: absolute;
  top: -23px;
  right: -23px;
}

#StartModal .modal-content {
  border-radius: 5px;
}

#StartModal .modal-content .btn-close i {
  margin: 0;
  font-size: 20px;
}



/* ******Home Css Starts******* */

.section_main {
  margin: 0;
  padding: 20px 0;
}

.main_row {
  display: flex;
  justify-content: center;
}

.first_box {
  margin: 0 0 0 0;
  padding: 15px 0 15px 0;
  background: #FFFFFF;
  border: 1px solid var(--border_color);
  border-radius: 10px;
  text-align: center;
}

.first_box h2 {
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  background: linear-gradient(95.37deg, #BC2A2A 8.73%, #F99D1B 68.26%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  margin-bottom: 12px;
}

.Center_img {
  text-align: center;

}

.bottom_part {
  margin: 15px 15px 0 15px;
}


.bottom_part .video_container {
  width: 100%;
  position: relative;
}

.bottom_part .icon_play {
  background-color: transparent;
  border: 0;
  box-shadow: none;
  position: absolute;
  top: 45px;
  left: 0;
  right: 0;
  z-index: 996;
  width: 25%;
  margin: 0 auto;
}

.bottom_part .icon_play:hover {
  color: var(--black);
}

.bottom_part .icon_play i {
  font-size: 40px;
}

.bottom_part #video1 {
  width: 90%;
  margin: 0 auto;
  border-radius: 4px;
}

/* *********** */

#big_video .modal-dialog .modal-content .modal-body, #video_MD .modal-dialog .modal-content .modal-body {
  padding: 0;
}

#big_video .modal-dialog .modal-content, #video_MD .modal-dialog .modal-content {
  background-color: transparent;
  border: 0;
}

#big_video .modal-dialog .modal-content .modal-body video, #video_MD .modal-dialog .modal-content .modal-body video {
  width: 100%;
  border-radius: 6px;
}

#big_video .modal-dialog .modal-content .btn-close:focus, #video_MD .modal-dialog .modal-content .btn-close:focus {
  box-shadow: none;
  outline: 0;
  opacity: 0.8;
}

#big_video .modal-dialog .modal-content .btn-close:hover, #video_MD .modal-dialog .modal-content .btn-close:hover {
  opacity: 0.8;
}

#big_video .modal-dialog .modal-content .btn-close, #video_MD .modal-dialog .modal-content .btn-close {
  position: absolute;
  top: -31px;
  right: -32px;
  z-index: 1100;
  opacity: 1;
  color: white;
  font-size: 23px;
  background: none;
  transition: all 0.4s;
}

/* ********************* */

.slider_container {
  width: 100%;
  margin: 15px 0 50px 0;
}

.slider_container .mySwiper {
  margin: 15px 10px 0 10px;
  position: relative;
}

.swiper-pagination {
  position: unset;
}


.slider_container .mySwiper .content .icons {
  text-align: left;
  margin: 0 0 0 25px;
}

.slider_container .mySwiper .content .icons i {
  font-size: 33px;
  color: var(--primary);
}

.slider_container .swiper-pagination-bullet-active {
  background-color: #BC2A2A !important;
}

.slider_container .swiper-pagination-bullet {
  width: 11px;
  height: 11px;
}

.slider_container .mySwiper .content p {
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto 10px auto;
}


/* **************************** */

.second_box {
  padding: 0 0 20px 0;
  background: #FFFFFF;
  border: 1px solid var(--border_color);
  border-radius: 10px;
  text-align: center;
}

.second_box .inner_box {
  padding: 0;
}

.second_box .video_container {
  width: 100%;
  position: relative;
  margin-bottom: 0;
  margin-top: 0;
  padding: 22px 22px 15px 22px;
}

.second_box .icon_play {
  background-color: transparent;
  border: 0;
  box-shadow: none;
  position: absolute;
  top: 40%;
  left: 0;
  right: 0;
  z-index: 996;
  width: 25%;
  margin: 0 auto;
}

.second_box .icon_play i {
  font-size: 45px;
  color: var(--white);
}

.second_box #bigVideo {
  width: 100%;
  margin: 0 auto;
  border-radius: 8px;
}


.Listing_section {
  margin: 0 auto;
}

.Listing_section .job_list_header {
  background-color: var(--bg_box_header);
  padding: 5px 0;
}

.Listing_section .job_list_header h4 {
  margin: 0 auto;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: var(--white);
}

.Listing_section .job_list_wrapper {
  margin: 0 auto;
  padding: 14px 20px 12px 20px;
}


.Listing_section .job_list_wrapper .job_box {
  margin: 0 0 10px 0;
  background-color: var(--white);
  border: 1px solid #EBEBEB;
  border-radius: 4px;
  padding: 8px 10px;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Listing_section .job_list_wrapper .job_box:last-child {
  margin: 0;
}



.Listing_section .job_list_wrapper .title_left {
  display: block;
}

.Listing_section .job_list_wrapper .title_left a {
  display: block;
  margin: 0 0;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: #333333;
}

.Listing_section .job_list_wrapper .title_left p {
  display: block;
  margin: 0 0;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #8B8B8B;
}

.Listing_section .job_list_wrapper .job_box .View_detail {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #BC2A2A;
}

.bottom_link {
  text-align: center;
}

.bottom_link a {
  color: var(--primary);
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
}

/* ************third_box**************** */

.third_box {
  margin: 0 0;
}

.login_sec {
  margin: 0 0 27px 0;
  background: #FFFFFF;
  border: 1px solid #CDCDCD;
  border-radius: 10px;

}

.sec_header {
  margin: 0;
  background-color: #8F8F8F;
  padding: 14px 25px;
  text-align: center;
  border-radius: 10px 10px 0 0;

}

.sec_header h6 {
  font-weight: 600;
  font-size: 19px;
  line-height: 25px;
  color: var(--white);
  margin: 0 0 0 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.sec_header h6 i {
  color: var(--white);
  font-size: 22px;
  margin: 0 8px 0 0;
}

.sec_header .flex_heads {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sec_header a {
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: var(--white);
  margin: 0 0 0 0;
  text-decoration: underline;
  letter-spacing: 0.6px;
}


.bg_area {
  margin: 0 0 15px 0;
  padding: 7px 0;
  background: #EAEAEA;
}

.bg_area p {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  margin: 0 17px 0 17px;
  color: black;
}

.login_info {
  margin: 0;
  padding: 0 20px 20px 20px;
}

.inputbox {
  margin: 0;
}

.inputbox .form-select {
  border: 1px solid #CDCDCD;
  border-radius: 4px;
  height: 40px;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #8B8B8B;
}

.inputbox .form-select:focus, .inputbox .form-control:focus {
  box-shadow: none;
  outline: 0;
}

.inputbox .form-control {
  border: 1px solid #CDCDCD;
  border-radius: 4px;
  height: 40px;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #8B8B8B;
}

.inputbox .form-control::placeholder {
  color: #8B8B8B;
}

.inputbox .input-group {
  border: 1px solid var(--border_color);
  border-radius: 4px;
}

.inputbox .input-group .form-control {
  border: 0;
}

.inputbox .input-group .btn {
  margin: 0;
  border-left: 0;
  border: 0;
}

.inputbox .input-group .btn:hover {
  background-color: white;
  color: black;
}

.line_text {
  margin: 0;
  width: 100%;
}

.line_text h6 {
  margin: 0;
  display: block;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  /* identical to box height */


  color: #000000;
}

.line_text h6:before {
  right: 1.3em;
}

.line_text h6:after {
  left: 1.3em;
}

.line_text h6:before, .line_text h6:after {
  background-color: #000;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 37%;
}

.button_search {
  margin: 16px 0 0 0;
}

.btn_primary {
  background-color: var(--primary);
  color: var(--black);
  font-size: 16px;
  font-weight: 600;
  width: 100%;
  transition: all 0.4s;
}

.btn_primary:hover {
  background-color: #e18c00;
  color: var(--black);

}

.btn_danger {
  background-color: #BC2A2A;
  color: var(--white);
  font-size: 16px;
  font-weight: 600;
  width: 100%;
  transition: all 0.4s;
}

.btn_danger:hover {
  background-color: #BC2A2A;
  color: var(--white);
}

.link_tags {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 13px 10px 5px 10px;
}

.link_tags a {
  background-color: #ff5959;
  margin: 0 7px 7px 0;
  border-radius: 20px;
  padding: 7px 18px;
  font-weight: 400;
  font-size: 13px;
  line-height: 19px;
  color: white;
  transition: all 0.4s;
}

/* .link_tags a:last-child {
  margin: 0 0 0 0;
} */

.link_tags a:hover {
  color: white;
  background-color: #e42020;
}

.navbar-toggler:focus {
  box-shadow: none;
  border: 0;
}

.navbar-toggler:hover {
  opacity: 0.8;
}

.navbar {
  justify-content: flex-end;
}

.navbar-toggler {
  background: var(--primary);
  border: 0;
  padding: 9px 13px;
  border-radius: 5px;
}

.navbar-nav.sm-collapsible .sub-arrow {
  border: 1px solid white;
}

/* ******Home Css ENds******* */

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.footer {
  /* background: #f6f9ff; */
  padding: 0 0 0 0;
  font-size: 14px;
}

.footer .footer-top {
  background: var(--white);
  border: 1px solid var(--border_color);
  border-radius: 10px;
  padding: 15px 0 15px 0;
}

.footer_bottom {
  width: 100%;
  background-color: #D9D9D9;
  margin: 35px 0 0 0;
  height: 70px;
  display: flex;
  align-items: center;
}

.footer_bottom_row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer_bottom .left_wrapp {
  display: flex;
  align-items: center;
}

.footer_bottom .left_wrapp h5 {
  color: var(--black);
  margin: 0 0;
  font-weight: 700;
  font-size: 14px;
}

.footer_bottom .left_wrapp h5 span {
  font-weight: 600;
  font-size: 14px;
  margin-left: 5px;
}

.footer_bottom .left_wrapp .flex_link {
  display: flex;
  align-items: center;
}

.footer_bottom .left_wrapp .flex_link p {
  font-weight: 600;
  font-size: 13px;
  color: var(--red);
  margin: 0 0 0 21px;
}

.footer_bottom .left_wrapp .flex_link p:first-child {
  margin: 0 0 0 12px;
}

.footer_bottom .left_wrapp .flex_link p span {
  font-weight: 600;
  font-size: 14px;
  margin-left: 0;
  color: var(--black);

}

.footer .footer-top .footer-info {
  text-align: center;
}

.footer .footer-top .footer-info img {
  margin-bottom: 0;
}

.padding_left {
  padding-left: 0
}

.footer_bottom .right_wrapp {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer_bottom .right_wrapp .image_box {
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid gray;
  padding: 0 0 0 10px;
}

.footer_bottom .right_wrapp .image_box:last-child {
  border-right: none;
  padding: 0 0 0 10px;
}


.footer_bottom .right_wrapp .image_box img {
  margin: 0 10px 0 0;
  width: 48px;
}

.footer_bottom .right_wrapp .image_box p {
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: var(--black);
  margin: 0;
}

.footer .group_wrapper {
  margin: 15px 0 0 0;
  padding: 15px 0 0 0;
  border-top: 1px solid var(--border_color);
}

.footer .group_wrapper .flex_group {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer .group_wrapper .flex_group h6 {
  font-weight: 600;
  font-size: 22px;
  line-height: 19px;
  color: var(--black);
  margin: 0;
}

.footer .group_wrapper .flex_group span {
  margin: 0px 15px 0 15px;
}

.footer .group_wrapper .flex_group p.desc_group {
  font-weight: 700;
  font-size: 22px;
  line-height: 19px;
  color: var(--black);
  margin: 0 0 0 0;
}

.footer .group_wrapper .flex_group p.desc_group span {
  font-weight: 700;
  font-size: 22px;
  line-height: 19px;
  color: var(--primary);
  margin: 0;
}




/* ********Emp. Directory Css Starts******* */

.Emp_Tbl_sec {
  margin: 0;
}

.Emp_Tbl_sec .table {
  margin: 0;
}

.Emp_Tbl_sec .table-responsive {
  overflow-x: auto;
}

.Emp_Tbl_sec .table>thead {
  background: #EAEAEA;
}

.Emp_Tbl_sec .table th {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #2E2E2E;
  padding: 15px 10px 15px 10px;
  text-align: left;
}

.Emp_Tbl_sec .table td {
  padding: 10px 10px;
  vertical-align: middle;
  text-align: left;
  white-space: nowrap;
}

.Emp_Tbl_sec .table tr .name_row {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.Emp_Tbl_sec .table tr .name_row .profile_pic {
  height: 38px;
  width: 38px;
  border-radius: 50%;
  margin: 0 13px 0 0;
}

.Emp_Tbl_sec .table tr .name_row p {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #2E2E2E;
  margin: 0;
}

.badge_depart {
  background-color: #FEECEC;
  font-weight: 600;
  color: #BC2A2A;
  font-size: 13px;
  border-radius: 15px;
  text-align: center;
  width: fit-content;
  padding: 3px 15px;
}

.badge_desgnation {
  font-weight: 500;
  font-size: 13px;
  background-color: var(--primary);
  border-radius: 15px;
  text-align: center;
  color: var(--white);
  width: fit-content;
  padding: 3px 15px;
}

.emp_search_page .second_box {
  padding: 0 0 0 0;
}


/* ********Advanced Search Css Starts******* */

.search_sec {
  margin: 0;
  padding: 20px 20px;
}

.search_sec .search_form {
  margin: 0;
}

.search_form .search_form .search_form_row {
  margin: 0;
}

.search_form .search_form_row .inputBox_col .lbl_inputbox {
  text-align: left;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: #8B8B8B;
  display: block;
}

.search_form .search_form_row .inputBox_col .form-control, .search_form .search_form_row .inputBox_col .form-select {
  border: 1px solid var(--border_color);
  padding: 10px 15px;
  border-radius: 4px;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  font-family: "Open Sans", sans-serif;
}

.search_form .search_form_row .inputBox_col .form-select {
  color: #8B8B8B;
}

.search_form .search_form_row .inputBox_col .form-control:focus, .search_form .search_form_row .inputBox_col .form-select:focus {
  outline: 0;
  box-shadow: none;
}

.search_form .search_form_row .inputBox_col .form-control:hover {
  outline: 0;
}

.search_form .search_form_row .form_btns {
  display: flex;
  align-items: center;
  justify-content: center;
}


.search_form .search_form_row .form_btns .btn_danger:hover {
  background-color: #8c0000;
}

.search_form .search_form_row .form_btns .btn_primary, .search_form .search_form_row .form_btns .btn_danger {
  margin: 0 15px 0 15px;
  max-width: 160px;
}


/* ****************IJP Listing Css Starts******************** */

.listing_section {
  margin: 0;
}

.listing_section .job_list {
  margin: 19px 10px 0 10px;
}

.listing_section .job_list .jobbox {
  background-color: white;
  border: 1px solid #EAEAEA;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 12px 12px;
  display: flex;
  align-items: start;
  justify-content: flex-start;
  margin-bottom: 20px;
  position: relative;
}

.pos_date {
  position: absolute;
  right: 12px;
  bottom: 12px;
}

.pos_date p {
  margin: 0;
  font-weight: 400;
  font-size: 12px;
  color: #3C486B;
}




.listing_section .job_list .jobbox .col_icon .suitcase_icons img {
  width: 28px;
}

.listing_section .job_list .jobbox .col_icon .suitcase_icons {
  width: 48px;
  height: 48px;
  border-radius: 50px;
  padding: 9px;
  background-color: rgba(248, 240, 240, 0.42);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.listing_section .job_list .jobbox .col_detail {
  text-align: left;
  margin: 0 0 0 15px;
}

.listing_section .job_list .jobbox .col_detail h6 {
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  text-transform: capitalize;
  color: var(--navy_blue);
  margin: 0 0 4px 0;
}

.listing_section .job_list .jobbox .col_detail p {
  margin: 0;
  font-weight: 600;
  font-size: 13px;
  line-height: 18px;
  color: var(--navy_blue);
}

.listing_section .job_list .jobbox .col_detail p i {
  font-size: 19px;
  line-height: 18px;
  color: var(--navy_blue);
}

/* ************************* */

/* ************IJP Detail Page Css STarts************* */

.job_detail_wrapper {
  padding: 15px 0;
  position: relative;
}

.job_detail_wrapper .top_title {
  margin: 0 22px 13px 0;
}


.job_detail_wrapper .top_title h6 {
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: black;
  text-align: left;
  margin: 0 0 14px 27px;
  text-transform: capitalize;
}

.divider {
  border-bottom: 1px solid var(--border_color);
}

.divider_2 {
  border-bottom: 1px solid #FDE3E3;
}


.job_insights {
  margin: 20px 20px 20px 20px;
}

.job_insights .insight_row {
  margin: 0;
}

.flex_sight {
  display: flex;
  align-items: center;
  margin: 0 0 25px 0;
}

.col-lg-4:last-of-type .flex_sight {
  margin: 0 0 0 0;
}

.bg_icon {
  background: rgba(217, 217, 217, 0.69);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  height: 50px;
  width: 50px;
  padding: 0;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bg_icon i {
  font-size: 21px;
  color: black;
}

.detail_content {
  display: block;
  margin: 0 0 0 9px;
  text-align: left;
}

.detail_content h6 {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #10002E;
}

.detail_content p {
  margin: 0;
  font-weight: 600;
  font-size: 13px;
  line-height: 22px;
  text-transform: capitalize;
  color: #F99B1F;
}

.Key_content {
  margin: 15px 28px 15px 28px;
}

.Key_content h6 {
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  text-transform: capitalize;
  color: #000000;
  text-align: left;
  margin: 0 0 10px 0;
}


.Key_content .content_list {
  margin: 0;
  text-align: left;

}

.Key_content .content_list ul {
  padding: 0 0 0 0;
  list-style: none;
}

.Key_content .content_list ul li {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  text-transform: inherit;
  color: rgba(85, 85, 85, 0.71);
  margin: 0 10px 10px 0;
}

.Key_content .content_list ul li i {
  margin: 0 10px 0 0;
}

.apps_steps {
  margin: 15px 28px 15px 28px;
}

.apps_steps h6 {
  text-align: left;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  text-transform: capitalize;
  color: #000000;
  margin-bottom: 18px;
}

.apps_steps .step_sec {
  background: #F3F4F6;
  border-radius: 8px;
  display: block;
  overflow: auto;
  filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.25));
  margin: 0 0 25px 0;
}

.apps_steps .step_sec:last-child {
  margin: 0 0 0 0;
}

.apps_steps .step_sec h6 {
  font-weight: 600;
  font-size: 17px;
  line-height: 23px;
  text-transform: inherit;
  color: #000000;
  text-align: left;
  margin: 18px 10px 18px 20px;
}

.apps_steps .step_sec .steps_content {
  text-align: left;
  padding: 10px 10px;
}

.apps_steps .step_sec .steps_content ul {
  padding: 0 0 0 10px;
  margin: 0 10px 10px 0;
}

.apps_steps .step_sec .steps_content ul li {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  text-transform: inherit;
  color: rgba(85, 85, 85, 0.71);
  margin: 0 10px 10px 0;
  list-style: none;
}

.apps_steps .step_sec .steps_content ul li:last-child {
  margin: 0 0 0 0;
}

.apps_steps .step_sec .steps_content ul li i {
  margin: 0 10px 0 0;
}

/* ****************** */

.brand_sec {
  margin: 0 0;
}

.brand_sec h2 {
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #3C486B;
  margin: 0;
  padding: 0 20px 15px 20px;
  background: none;
  -webkit-text-fill-color: unset;
  text-align: left;
}

.brand_sec h2 i {
  color: #3C486B;
  margin: 0 10px 0 0;
}

.brand_content h3 {
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: var(--primary);
  text-align: left;
  padding: 10px 20px 0 20px;
  margin: 0;
}


.brand_content h3 i {
  color: var(--primary);
  margin: 0 10px 0 0;
}

.brand_content ul {
  padding: 10px 18px 0 18px;
  margin: 0;
}

.brand_content ul li {
  list-style: none;
  margin: 0 0 10px 0;
  text-align: left;
}

.brand_content ul li a i {
  margin: 0 10px 0 0px;
}

.brand_content ul li a {
  list-style: none;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  text-align: left;
  color: #9D9D9D;
  display: flex;
  align-items: start;
}

.brand_content ul li a:last-child {
  margin: 0;
}

.brand_content ul li:last-child {
  margin: 0;
}

.logos_list_wrapper {
  padding: 10px 13px 0 13px;
}

.logos_list_wrapper .logo_row {
  margin: 0;
  padding: 0;
}

.logos_list_wrapper .main_box {
  padding: 15px 0;
}

.logos_list_wrapper .main_box .logo_whiteBox .ImageBox img {
  width: 100%;
}

.logos_list_wrapper .main_box .logo_whiteBox {
  background-color: var(--white);
  border: 1px solid #EAEAEA;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 7px;
  padding: 35px 30px;
  margin-bottom: 20px;
  height: 225px;
  display: flex;
  align-items: center;
  justify-content: center;
}



.logos_list_wrapper .main_box .long_whitebox {
  height: 155px;
}

.logos_list_wrapper .bottom_buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logos_list_wrapper .main_box .bottom_buttons p {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  text-transform: capitalize;
  color: #9D9D9D;
  margin: 0 5px 0 0;
}

.logos_list_wrapper .main_box .bottom_buttons .btn_pdf, .logos_list_wrapper .bottom_buttons .btn_cdr {

  border-radius: 4px;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  text-transform: capitalize;
  color: #FFFFFF;
  max-width: 100px;
  display: block;
  padding: 6px 30px;
  margin: 0 5px 0 5px;
}

.logos_list_wrapper .main_box .bottom_buttons .btn_pdf {
  background: #BC2A2A;
}

.logos_list_wrapper .bottom_buttons .btn_cdr {
  background: var(--primary);
}


/* ********************* */


.Id_card_page .logos_list_wrapper .main_box .logo_whiteBox {
  height: auto;
  padding: 15px 15px;
}

.Id_card_page .second_box {
  margin-bottom: 25px;
}

.Id_card_page .second_box:last-child {
  margin-bottom: 0;
}

/* ****************** */


.visiting_card_page .logos_list_wrapper .main_box .logo_whiteBox {
  height: auto;
  padding: 15px 15px;
}

.visiting_card_page .second_box {
  margin-bottom: 25px;
}

.visiting_card_page .second_box:last-child {
  margin-bottom: 0;
}

/* ****************** */


.envelop_page .logos_list_wrapper .main_box .logo_whiteBox {
  padding: 15px 15px;
  height: 340px;
}

.envelop_page .second_box {
  margin-bottom: 25px;
}

.envelop_page .second_box:last-child {
  margin-bottom: 0;
}

/* ****************** */

.letter_head_page .logos_list_wrapper .main_box .logo_whiteBox {
  padding: 15px 15px;
  height: auto;
}

.letter_head_page .second_box {
  margin-bottom: 25px;
}

.letter_head_page .second_box:last-child {
  margin-bottom: 0;
}

/* **************** */

.docs_list_page .second_box{
  padding: 0 0 0 0;
}

.second_box .listing_doc_sec {
  margin: 15px 15px 0 15px;
}

.second_box .listing_doc_sec .doc_list_row {
  margin: 0 10px;
  display: flex;
  align-items: center;
  justify-content: start;
  column-gap: 15px;
  flex-wrap: wrap;
}

.second_box .listing_doc_sec .doc_list_row .doc_box {
  margin: 0 0 20px 0;
  background: var(--white);
  border: 1px solid #EAEAEA;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 7px;
  padding: 10px 5px;
  display: block;
  height: auto;
  width: 100px;
  word-wrap: break-word;
}

.second_box .listing_doc_sec .doc_list_row .doc_box img {
  margin: 0 0 10px 0;
  object-fit: cover;
  width: 50px;
}

.second_box .listing_doc_sec .doc_list_row .doc_box p {
  margin: 0;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  text-transform: capitalize;
  color: #7E7B7B
}


.av_page .video_container {
  width: 100%;
  position: relative;
  margin-bottom: 15px;
  margin-top: 0;
  padding: 0;
}

.av_page .video_container .center_video_image img {
  width: 100%;
}

.av_page .second_box {
  margin: 0;
  padding: 0;
}

.av_page .second_box #bigVideo {
  width: 100%;
  margin: 0 auto;
  border-radius: 8px;
}

.av_page .bottom-btn {
  margin: 0 0 20px 0;
}

.av_page .bottom-btn .btn_download {
  background: #F99D1B;
  border-radius: 4px;
  margin: 0 0 10px 0;
  padding: 8px 15px;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  color: #333333;
  display: block;
  max-width: 115px;
  margin: 0 auto 10px;
  transition: all 0.4s;
}

.av_page .bottom-btn .btn_download:hover {
  background-color: #d27b00;
  color: black;
}

/* ************************ */

.remark_sec {
  margin: 0;
}

.remark_sec .login_review {
  margin: 0;
}

.remark_sec .login_review .form_remarking {
  margin: 15px 0;
}

.remark_sec .login_review .form_remarking .form_remark_row {
  margin: 0;
  align-items: center;
  justify-content: center;
}

.remark_sec .login_review .form_remarking .form_remark_row .col-lg-8 {
  padding: 0;
}

.remark_sec .login_review .form_remarking .form_remark_row .inputBox_col {
  display: block;
}

.remark_sec .login_review .form_remarking .form_remark_row .lbl_inputbox {
  text-align: left;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: #8B8B8B;
  display: block;
}

.remark_sec .login_review .form_remarking .form_remark_row .form-control {
  border: 1px solid #CDCDCD;
  border-radius: 4px;
  height: 40px;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #8B8B8B;
}

.remark_sec .login_review .form_remarking .form_remark_row .form-control:focus {
  outline: 0;
  box-shadow: none;
}

.remark_sec .login_review .form_remarking .form_remark_row .form_btns {
  margin: 0 auto 0 auto;
}

.remark_sec .login_review .form_remarking .form_remark_row .btn_primary {
  margin: 0;
  max-width: 185px;
}


/* ******************** */

.policy_sec {
  margin: 0;
  padding: 25px 30px 7px 30px;
}

.policy_sec .policy_box {
  margin: 0 0 21px 0;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}

.policy_sec .policy_box:last-child {
  margin: 0;
}

.policy_sec .inner_header {
  margin: 0;
  background: #EAEAEA;
  border-radius: 8px 8px 0px 0px;
  padding: 13px 30px;
  text-align: left;
}

.policy_sec .inner_header h6 {
  font-weight: 600;
  font-size: 19px;
  line-height: 26px;
  text-transform: capitalize;
  color: #000000;
  margin: 0;
}

.policy_sec .content {
  padding: 15px 15px 15px 60px;
}

.policy_sec .content ul {
  padding: 0;
  margin: 0;
  text-align: left;
}

.policy_sec .content ul li {
  list-style: none;
  margin: 0 0 15px 0;
  text-align: left;
}

.policy_sec .content ul li a {
  font-weight: 600;
  font-size: 17px;
  line-height: 23px;
  text-decoration-line: underline;
  text-transform: capitalize;
  color: #9D9D9D;
  list-style: none;
  margin: 0 0 15px 0;
  text-align: left;
}

.policy_sec .content ul li:last-child {
  margin: 0;
}

/* ****************** */

.rate_card_sec {
  padding: 20px 0 20px 0;
}

.outlook_page .listing_section .job_list .jobbox .col_detail h6 {
  margin: 0;
}

.outlook_page .listing_section .job_list .jobbox {
  align-items: center;
}



.outlook_page .listing_section .job_list .jobbox .col_detail {
  margin: 0 20px 0 15px;
}

/* ************** */

.archive_page .second_box {
  padding: 0;
}

.archive_page .brand_content ul {
  padding: 10px 18px 0 18px;
}

.archive_page .section_main .searchBox {
  margin: 10px 20px 10px 20px;
}

.archive_page .section_main .searchBox .inputbox .lbl_inputbox {
  text-align: left;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: #8B8B8B;
  display: block;
}

.archive_page .section_main .searchBox .inputbox .form-control .archive_page .section_main .searchBox .inputbox .form-select:focus, .archive_page .section_main .searchBox .inputbox .form-control:focus {
  box-shadow: none;
  outline: 0;
}

.archive_page .section_main .searchBox .inputbox .form-control {
  border: 1px solid #CDCDCD;
  border-radius: 4px;
  height: 40px;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #8B8B8B;
}

.archive_page .section_main .searchBox .inputbox .form-control::placeholder {
  color: #8B8B8B;
}

.archive_page .searchBox .brand_content ul {
  padding: 15px 18px 0px;
}

.archive_page .searchBox .flex_search {
  display: flex;
  align-content: center;
}

.archive_page .searchBox .flex_search .btn-outline-secondary {
  background-color: var(--primary);
  color: var(--white);
  border: 1px solid var(--primary);
  margin: 0 0 0 10px;
}

.archive_page .searchBox .flex_search .btn-outline-secondary:hover {
  color: white;
  background-color: #b16e00;
}

.archive_page .search_slider {
  width: 100%;
  height: 100%;
}

.archive_page .search_slider .swiper-button-next, .archive_page .search_slider .swiper-button-prev {
  background-color: var(--primary);
  color: var(--white);
  border-radius: 50px;
  width: 55px;
  height: 55px;
  transition: all 0.4s;
}

.archive_page .search_slider .swiper-button-next:hover, .archive_page .search_slider .swiper-button-prev:hover {
  color: white;
  background-color: #cf870f;
}

.archive_page .search_slider .swiper-button-next:after, .archive_page .search_slider .swiper-button-prev:after {
  font-size: 16px;
}

.archive_page .search_slider .archive_swiper .swiper-slide {
  height: 100%;
}

.archive_page .search_slider .archive_swiper .swiper-slide img {
  border-radius: 10px;
  height: 490px;
  width: 100%;
  object-fit: cover;
}


/* ***************** */

.convert_sec {
  position: relative;
}

.convert_sec .tab_sec .custom_tabs {
  margin: 0;
  padding: 15px 25px 1px 25px;
}

.convert_sec .tab_sec .custom_tabs ul.tabs {
  margin: 0;
  list-style: none;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: start;
  background: #F3F4F6;
  border-radius: 8px;
  padding: 4px;
}

.convert_sec .tab_sec .custom_tabs ul.tabs li {
  margin: 0 5px 0 0;
  cursor: pointer;
  padding: 10px 15px;
  border: 0;
  overflow: hidden;
  position: relative;
  border-radius: 6px;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  transition: all 0.4s;
}

.convert_sec .tab_sec .custom_tabs ul.tabs li:last-child {
  margin: 0;
}

.tab_last {
  border-right: 1px solid #333;
}

.convert_sec .tab_sec .custom_tabs ul.tabs li:hover {
  background: white;
  color: #333;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
}

.convert_sec .tab_sec .custom_tabs ul.tabs li:first-child {
  margin: 0 5px 0 0;
}

.convert_sec .tab_sec .custom_tabs ul.tabs li.active {
  background: #FFFFFF;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  font-weight: 600;
}

.convert_sec .tab_container {
  width: 100%;
}

.convert_sec .tab_content {
  padding: 15px 5px 3px 5px;
  display: none;
  text-align: left;
}

.convert_sec .tab_drawer_heading {
  display: none;
}


.convert_sec .tab_content .tab_content_heading .flex-tab {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.convert_sec .tab_content .tab_content_heading .flex-tab h6 {
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 0.005em;
  color: var(--primary);
  margin: 0;
  font-family: 'Baloo 2', cursive;
}

.convert_sec .tab_content .tab_content_heading .flex-tab h6 i {
  margin: 0 7px 0 0;
  font-size: 18px;
  color: var(--primary);
}

.convert_sec .tab_content .tab_content_heading .flex-tab p {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: var(--black);
  margin: 0;
}

.convert_sec .tab_content .tab_content_heading .flex-tab p span {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.005em;
  color: var(--black);
}

.divider_second:before {
  content: "";
  position: absolute;
  left: 0;
  top: 110px;
  height: 1px;
  width: 100%;
  border-bottom: 1px solid #FDE3E3;
}

.convert_sec .form_box {
  margin: 25px 0 5px 0;
}


.convert_sec .form_box .search_form .search_form_row {
  margin: 0;
}

.convert_sec .form_box .font_row .inputBox_col .lbl_inputbox {
  text-align: left;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #333333;
  display: block;
  margin-bottom: 12px;
}

.convert_sec .form_box .font_row .inputBox_col .lbl_inputbox strong {
  font-weight: 700;
}

.convert_sec .form_box .font_row .inputBox_col .form-control, .convert_sec .form_box .font_row .inputBox_col .form-select {
  border: 1px solid var(--border_color);
  padding: 10px 15px;
  border-radius: 4px;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  font-family: "Open Sans", sans-serif;
}


.convert_sec .form_box .font_row .inputBox_col .form-control:focus, .convert_sec .form_box .font_row .form-select:focus {
  outline: 0;
  box-shadow: none;
}

.convert_sec .form_box .font_row .inputBox_col .form-control:hover, .convert_sec .form_box .font_row .form-select:hover {
  outline: 0;
}

.convert_sec .form_box .font_row .submit_btns p {
  margin: 0 0 12px 0;
  font-weight: 500;
  font-size: 17px;
  line-height: 27px;
  text-align: center;
  letter-spacing: 0.005em;
  font-family: 'Baloo 2', cursive;
  color: #000000
}

.convert_sec .form_box .font_row .submit_btns .btn_primary {
  margin: 0 auto;
  display: block;
  max-width: 300px;
}

.convert_sec .form_box .font_row .inputBox_col .lbl_inputbox span, .convert_sec .form_box .font_row .submit_btns a span {
  font-family: 'Baloo 2', cursive;
}